/out/
/target/
/*-init.clj
/*.log

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/

.DS_Store
/.clj-kondo
/.calva
/.lsp
/resources/public/_js/compiled
/resources/public/_asset
